/* Garantir que o HTML e o body ocupem a altura completa da janela */
html, body {
    height: 100%;
    margin: 0;
}

/* Configurar o body para usar Flexbox e empurrar o conteúdo para preencher a altura restante */
body {
    display: flex;
    flex-direction: column;
}

/* Configurar o main para ocupar o espaço restante */
main {
    flex: 1;
}

/* Estilo para o footer */
footer {
    background-color: #f8f9fa; /* Cor de fundo do rodapé */
    padding: 10px; /* Espaçamento interno do rodapé */
    text-align: center;
    border-top: 1px solid #ddd; /* Borda superior opcional */
    width: 100%;
}
