@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos!</h1>
    <p>Aprende mais sobre <a href="https://learn.microsoft.com/aspnet/core"> criar aplicações web com ASP.NET Core.</a></p>
</div>
